<h3>Zone.js</h3>

<div>
  Zone.js - это библиотека для Angular, которая позволяет управлять асинхронными операциями и
  обеспечивает корректное поведение между асинхронными и синхронными операциями. Она предоставляет
  удобный способ обработки ошибок и управления потоком выполнения в асинхронных операциях. Zone.js
  работает путем создания новой зоны выполнения для каждой асинхронной операции и управления потоком
  выполнения внутри этой зоны. Каждая зона выполнения имеет свой собственный контекст выполнения,
  который включает в себя переменные, функции и объекты, доступные только в этой зоне. Zone.js
  обеспечивает корректное поведение между асинхронными и синхронными операциями, включая обработку
  ошибок, управление потоком выполнения и обработку событий. Он также предоставляет удобный способ
  создания пользовательских зон выполнения и управления потоком выполнения внутри них. Пример
  использования setTimeout без использования Zone.js:
</div>

<div>setTimeout(() => console.log('Hello, world!'); 1000);</div>

<div>
  В этом примере мы используем setTimeout для выполнения задержки в 1 секунду. Однако, без
  использования Zone.js, эта задержка будет выполняться в глобальной зоне выполнения, что может
  привести к проблемам с корректным поведением между асинхронными и синхронными операциями. Пример
  использования setTimeout с использованием Zone.js:
</div>

<button (click)="handleClick()" class="form-control">Click me</button>

<div>
  В этом примере мы используем NgZone для создания новой зоны выполнения внутри обработчика события
  клика. Мы также используем метод runOutsideAngular для запуска задержки вне Angular, чтобы
  избежать проблем с корректным поведением между асинхронными и синхронными операциями. Пример
  использования пользовательской зоны выполнения:
</div>

<button (click)="handleClickAnother()" class="form-control">Click me</button>

<div>
  В этом примере мы используем метод runOutsideAngular для запуска асинхронной операции вне Angular.
  Мы также используем метод setTimeout для выполнения задержки в 1 секунду. Это позволяет выполнить
  асинхронную операцию вне контекста Angular и избежать проблем с корректным поведением между
  асинхронными и синхронными операциями.
</div>
