.wrapper {
  display: flex;
  flex-direction: column;
  height: 100vh;

  .navbar {
    background: linear-gradient(135deg, #0143a3, #0273d4);
  }

  main {
    margin: 10px 15px;
    flex-grow: 1;
  }

  footer {
    font-size: 12px;
  }
}
